@charset "UTF-8";
body {
	height: 90%;
	padding-top: 60px;
}

#mainMap {
	width : 75%;
	height : 100%;
	display: inline-block;
}

#menu {
	position: fixed;
	top : 0;
	left : 0;
	right : 0;
	height: 60px;
	align-items: center;
}
#sideBar {
	width : 5%;
	height : 100%;
	display: inline-block;
	padding-bottom: 0px;
}
#resultList {
	width : 19%;
	height : 100%;
	display: inline-block;
}